body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
/*
video {
    z-index: 1;
    transform: scaleX(-1);
}
*/

#joinButton,
#textDiv {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

#flip {
    display: none;
    position: absolute;
    font-size: 20px;
    top: 40px;
    left: 10px;
    z-index: 1;
}

#camSelect {
    position: absolute;
    top: 10%;
    left: 70%;
    font-size: 20px;
}

#videoContainer {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
